{# admin/config.twig #}
{# レンタル設定画面のテンプレート #}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['rental', 'rental_config'] %}

{% block title %}{{ 'rental.admin.config.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'rental.admin.config.sub_title'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_layout.html.twig' %}

{% block main %}
    <form method="post" action="{{ url('admin_rental_config') }}">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="d-inline-block">
                                <span class="card-title">{{ 'rental.admin.config.basic_info'|trans }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-3">
                                    <span>{{ form.default_max_days.vars.label|trans }}</span>
                                </div>
                                <div class="col">
                                    {{ form_widget(form.default_max_days) }}
                                    {{ form_errors(form.default_max_days) }}
                                    <span class="form-text">{{ 'rental.admin.config.default_max_days_note'|trans }}</span>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-3">
                                    <span>{{ form.auto_approval.vars.label|trans }}</span>
                                </div>
                                <div class="col">
                                    {{ form_widget(form.auto_approval) }}
                                    {{ form_errors(form.auto_approval) }}
                                    <span class="form-text">{{ 'rental.admin.config.auto_approval_note'|trans }}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <div class="d-inline-block">
                                <span class="card-title">{{ 'rental.admin.config.terms_info'|trans }}</span>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-3">
                                    <span>{{ form.rental_terms.vars.label|trans }}</span>
                                </div>
                                <div class="col">
                                    {{ form_widget(form.rental_terms) }}
                                    {{ form_errors(form.rental_terms) }}
                                    <span class="form-text">{{ 'rental.admin.config.rental_terms_note'|trans }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c-conversionArea">
            <div class="c-conversionArea__container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-6">
                        <div class="c-conversionArea__leftBlockItem">
                            <a class="c-baseLink" href="{{ url('admin_rental_index') }}">
                                <i class="fa fa-backward" aria-hidden="true"></i>
                                <span>{{ 'rental.admin.common.back'|trans }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row align-items-center justify-content-end">
                            <div class="col-auto">
                                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'rental.admin.common.save'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}