{# admin/rental_list.twig #}
{# レンタル中商品一覧画面のテンプレート #}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['rental', 'rental_active'] %}

{% block title %}{{ 'rental.admin.rental.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'rental.admin.rental.sub_title'|trans }}{% endblock %}

{% block stylesheet %}
    <style>
        .status-reserved {
            color: #fff;
            background-color: #FF9C00;
        }
        .status-renting {
            color: #fff;
            background-color: #437EC4;
        }
        .status-returned {
            color: #fff;
            background-color: #25B877;
        }
        .status-overdue {
            color: #fff;
            background-color: #C04949;
        }
        .status-canceled {
            color: #fff;
            background-color: #999;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header">
                        <div class="d-inline-block" data-toggle="tooltip" data-placement="top" title="{{ 'rental.admin.rental.tooltip'|trans }}">
                            <span>{{ 'rental.admin.rental.list_title'|trans }}</span>
                            <i class="fa fa-question-circle fa-lg ml-1"></i>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        {% if pagination.totalItemCount > 0 %}
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th>{{ 'rental.admin.rental.id'|trans }}</th>
                                    <th>{{ 'rental.admin.rental.product_name'|trans }}</th>
                                    <th>{{ 'rental.admin.rental.order_no'|trans }}</th>
                                    <th>{{ 'rental.admin.rental.customer_name'|trans }}</th>
                                    <th>{{ 'rental.admin.rental.rental_start_date'|trans }}</th>
                                    <th>{{ 'rental.admin.rental.rental_end_date'|trans }}</th>
                                    <th>{{ 'rental.admin.rental.status'|trans }}</th>
                                    <th>{{ 'rental.admin.common.operation'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for RentalOrder in pagination %}
                                    <tr>
                                        <td>{{ RentalOrder.id }}</td>
                                        <td>
                                            {% if RentalOrder.ProductClass and RentalOrder.ProductClass.Product %}
                                                <a href="{{ url('admin_product_product_edit', {'id': RentalOrder.ProductClass.Product.id}) }}">
                                                    {{ RentalOrder.ProductClass.Product.name }}
                                                </a>
                                            {% else %}
                                                商品情報なし
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if RentalOrder.Order %}
                                                <a href="{{ url('admin_order_edit', {'id': RentalOrder.Order.id}) }}">
                                                    {{ RentalOrder.Order.order_no }}
                                                </a>
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if RentalOrder.Order %}
                                                {{ RentalOrder.Order.name01 }} {{ RentalOrder.Order.name02 }}
                                            {% elseif RentalOrder.Customer %}
                                                {{ RentalOrder.Customer.name01 }} {{ RentalOrder.Customer.name02 }}
                                            {% else %}
                                                --
                                            {% endif %}
                                        </td>
                                        <td>{{ RentalOrder.rental_start_date|date('Y/m/d') }}</td>
                                        <td>{{ RentalOrder.rental_end_date|date('Y/m/d') }}</td>
                                        <td>
                                            {% if RentalOrder.rental_status_id == 1 %}
                                                <span class="badge status-reserved">{{ 'rental.admin.order.status.reserved'|trans }}</span>
                                            {% elseif RentalOrder.rental_status_id == 2 %}
                                                <span class="badge status-renting">{{ 'rental.admin.order.status.renting'|trans }}</span>
                                            {% elseif RentalOrder.rental_status_id == 4 %}
                                                <span class="badge status-overdue">{{ 'rental.admin.order.status.overdue'|trans }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle pr-3">
                                            <div class="row justify-content-end">
                                                <div class="col-auto text-center">
                                                    <a href="{{ url('admin_rental_edit', {'id': RentalOrder.id}) }}" class="btn btn-ec-actionIcon mr-2" data-toggle="tooltip" data-placement="top" title="{{ 'rental.admin.common.edit'|trans }}">
                                                        <i class="fa fa-pencil fa-lg text-secondary"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center">
                                                    <a href="{{ url('admin_rental_return', {'id': RentalOrder.id}) }}" class="btn btn-ec-actionIcon mr-2" data-toggle="tooltip" data-placement="top" title="{{ 'rental.admin.rental.return'|trans }}">
                                                        <i class="fa fa-reply fa-lg text-secondary"></i>
                                                    </a>
                                                </div>
                                                <div class="col-auto text-center">
                                                    <a href="{{ url('admin_rental_cancel', {'id': RentalOrder.id}) }}" class="btn btn-ec-actionIcon" data-toggle="tooltip" data-placement="top" title="{{ 'rental.admin.rental.cancel'|trans }}" onclick="return confirm('{{ 'rental.admin.rental.cancel_confirm'|trans }}')">
                                                        <i class="fa fa-ban fa-lg text-secondary"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="row justify-content-md-center mb-4">
                                {% include '@admin/pager.twig' with {'pages': pagination.paginationData, 'routes': 'admin_rental_index'} %}
                            </div>
                        {% else %}
                            <div class="text-center p-4">
                                {{ 'rental.admin.rental.no_data'|trans }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}